{{#presence_present}}
There is a {{size}} {{side}} pneumothorax (pleural separation: {{pleura separation (mm)}} mm){{#signs of tension}}; signs of tension are {{signs of tension}}{{/signs of tension}}.
{{#lung tissue collapse}}
There is {{lung tissue collapse}} lung tissue collapse.
{{/lung tissue collapse}}
{{#associated chest tube}}
Associated chest tube is {{associated chest tube}}.
{{/associated chest tube}}
{{/presence_present}}
{{#presence_absent}}
There is no pneumothorax.
{{/presence_absent}}